# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=YogaLifeEnterpriseDb

# JWT
JWT_SECRET_KEY=ThisIsAVerySecretKeyForJwtTokenGenerationMinimum32CharsLength!!!
JWT_ISSUER=YogaEnterpriseApi
JWT_AUDIENCE=YogaEnterpriseClient

# Telegram Notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
